.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono";
  background-color: var(--bg-dark-mode);
  color: var(--text-dark-mode);
}
