@import "./_partials/fonts";
@import "./_partials/animations";
@import "./_partials/mediaqueries";
%panel {
  position: relative;
  width: 100%;
  height: 100%;
}
.time_erase {
  @include typing(2s, 0s, $type: erase);
}
.time_type {
  @include typing(2s, 0s);
}
.wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main {
  @extend %panel;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  font-family: "Roboto Mono";
  color: var(--text-dark-mode);
  background-color: var(--bg-dark-mode);
  .leftmargin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 15%;
    padding: 2rem 1rem;
    border-right: 2px solid var(--text-dark-mode);
    font-size: 1.25rem;
    .date {
      display: flex;
      flex-direction: column;
    }
    .links {
      display: flex;
      flex-direction: column;
      a {
        &:hover {
          background-color: var(--text-dark-mode);
          color: var(--text-dark-mode-fg);
        }
      }
    }
  }
  .text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    width: 70%;
    gap: 1rem;
    .name {
      h1 {
        font-weight: normal;
        font-size: 5rem;
        margin: 0;
        @include typing(2s, 0s);
      }
      .desig {
        width: fit-content;
        h2 {
          font-weight: normal;
          font-size: 1.5rem;
          margin: 0;
          @include typing(2s, 2s, infinite);
        }
      }
    }
  }
  .projects {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 15%;
    padding: 1.5rem 0rem;
    font-size: 1.25rem;

    span {
      padding: 2rem 1rem;
      position: relative;
      background-image: url("../public/main-circle.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .linksmobile {
    display: none;
    font-size: 1.25rem;
  }
  .scrollanimation {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 0px;
    height: 100px;
    background-color: transparent;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(var(--text-dark-mode), var(--text-dark-mode), transparent);
      animation: scroll 1.5s linear 4s infinite;
    }
  }
}
.info {
  @extend %panel;
  top: 100%;
  left: 5%;
  width: 90%;
  height: fit-content;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 5rem;
  color: var(--text-dark-mode-fg);
  background: var(--fg-dark-mode);
  margin-bottom: 1rem;
  font-family: "Roboto Mono";
  .desc {
    transform: rotate(-10deg);
    width: 30ch;
    padding: 4rem 2rem;
    background-image: url("../public/note.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// Media queries for tablet.
@include sm {
  .main {
    justify-content: center;
    .leftmargin {
      position: absolute;
      padding: 0;
      top: 5%;
      left: 5%;
      border: none;
      width: auto;
      height: auto;
      .links {
        display: none;
      }
    }
    .text {
      width: 90%;
      align-items: center;
      padding: 0.1rem;
      .name {
        h1 {
          font-size: 4rem;
          text-align: center;
          word-wrap: break-word;
        }
      }
    }
    .projects {
      position: absolute;
      padding: 0;
      top: 5%;
      right: 5%;
      width: auto;
      height: auto;
    }
    .linksmobile {
      position: absolute;
      bottom: 5%;
      left: 5%;
      display: flex;
      flex-direction: column;
    }
  }
}
// Media queries for mobile.
@include xs {
  .main {
    .leftmargin {
      font-size: 1.5rem;
    }
    .text {
      .name {
        h1 {
          font-size: 3rem;
        }
      }
    }
    .projects {
      font-size: 1.5rem;
      top: 3%;
      right: 3%;
      span {
        padding: 3rem 1.5rem;
      }
    }
    .linksmobile {
      font-size: 1.5rem;
    }
  }
}
